
body{

}

.map{
    display: flex;
}

.healthContainer{
    display: flex;
    font-weight: bold;
}

.health{
    font-weight: normal;
    display: flex;
}

.nodesColumn{
    margin-right: -2px;
}

.nodeItem{
    margin-bottom: -2px;
}