
body{

}

.interface-txt{
    font-size: 1.2em;
    font-family: 'Outfit', sans-serif;
}

.map{
    display: flex;
}

.healthContainer{
    display: flex;
    font-weight: bold;
}

.health{
    font-weight: normal;
    display: flex;
}

.nodesColumn{
    margin-right: -2px;
}

.nodeItem{
    margin-bottom: -2px;
}

#console{
    display: flex;
    flex-direction: column-reverse;
}

.console-text{
    font-size: 1.2em;
    font-family: 'Outfit', sans-serif;
}

.fade-console-text{
    color: gray;
}